# Environment variables (SANGAT PENTING: jangan sampai ter-commit ke git)
.env
.env.local
.env.*.local
env.js
env.json

# Node dependencies & temporary files
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test and scratch files
scratch/
.DS_Store
Thumbs.db
