<div class="question-card py-2 px-8" data-index="0" data-dimensi="mood">
  <h2 class="text-2xl font-bold text-[#F5F5F5] mt-2 mb-6">
    Kalau boleh tahu, kabarmu belakangan ini gimana?
  </h2>

  <div class="space-y-3">
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg hover:border-[#2DD4A8] transition font-medium text-[#F5F5F5]" data-score="hijau">
      "Baik kok, aman-aman aja"
      <span class="opacity-0 group-hover:opacity-100 group-hover:scale-102" onmouseover="this.style.transform='scale(1.30)'" onmouseout="this.style.transform='scale(1)'">😊</span>
    </button>
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg hover:border-[#818CF8] transition font-medium text-[#F5F5F5]" data-score="kuning">
      "Yaa gitu deh"
      <span class="opacity-0 group-hover:opacity-100 group-hover:scale-102" onmouseover="this.style.transform='scale(1.30)'" onmouseout="this.style.transform='scale(1)'">😐</span>
    </button>
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg hover:border-[#F472B6] transition font-medium text-[#F5F5F5]" data-score="merah">
      Jujur aja rasanya berat, tapi susah diungkapin
      <span class="opacity-0 group-hover:opacity-100 group-hover:scale-102" onmouseover="this.style.transform='scale(1.30)'" onmouseout="this.style.transform='scale(1)'">😔</span>
    </button>
  </div>
</div>
