<div class="question-card py-2 px-8" data-index="0" data-dimensi="mood">
  <h2 class="text-2xl font-bold text-slate-800 mt-2 mb-6">
    Kalau boleh tahu, kabarmu belakangan ini gimana?
  </h2>

  <div class="space-y-3">
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-slate-200 hover:bg-emerald-100 hover:border-emerald-600 transition font-medium text-slate-700" data-score="hijau">
      "Baik kok, aman-aman aja"
      <span class="opacity-0 group-hover:opacity-100 group-hover:scale-102">😊</span>
    </button>
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-slate-200 hover:bg-amber-100 hover:border-amber-600 transition font-medium text-slate-700" data-score="kuning">
      "Yaa gitu deh"
      <span class="opacity-0 group-hover:opacity-100 group-hover:scale-102">😐</span>
    </button>
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-slate-200 hover:bg-rose-100 hover:border-rose-600 transition font-medium text-slate-700" data-score="merah">
      Jujur aja rasanya berat, tapi susah diungkapin
      <span class="opacity-0 group-hover:opacity-100 group-hover:scale-102">😔</span>
    </button>
  </div>
</div>