<div class="question-card py-2 px-8" data-index="11" data-dimensi="stres">
  <h2 class="text-2xl font-bold text-[#F5F5F5] mt-2 mb-6">
    Satu lagi nih, kalau lagi banyak tekanan atau hal yang harus diselesaikan, biasanya kamu ngerasa gimana ngadepinnya?
  </h2>

  <div class="space-y-3">
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-white/10 hover:border-[#4ADE80] hover:bg-[#4ADE80]/10 transition font-medium text-[#F5F5F5]" data-score="hijau">
      Masih bisa dihadapi pelan-pelan, nggak terlalu kewalahan
      <span class="opacity-0 group-hover:opacity-100 transition transform group-hover:scale-125">
        <img src="/assets/IconFromSVGRepo/q11/green.svg" alt="Mampu" class="w-7 h-7 inline-block">
      </span>
    </button>
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-white/10 hover:border-[#FB923C] hover:bg-[#FB923C]/10 transition font-medium text-[#F5F5F5]" data-score="kuning">
      Kerasa numpuk, suka bingung mulai dari mana
      <span class="opacity-0 group-hover:opacity-100 transition transform group-hover:scale-125">
        <img src="/assets/IconFromSVGRepo/q11/yellow.svg" alt="Numpuk" class="w-7 h-7 inline-block">
      </span>
    </button>
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-white/10 hover:border-[#d10909] hover:bg-[#F87171]/10 transition font-medium text-[#F5F5F5]" data-score="merah">
      Lumayan berat, kayak semuanya kerasa terlalu banyak buat dihadapi
      <span class="opacity-0 group-hover:opacity-100 transition transform group-hover:scale-125">
        <img src="/assets/IconFromSVGRepo/q11/red.svg" alt="Kewalahan" class="w-7 h-7 inline-block">
      </span>
    </button>
  </div>
</div>
