<div class="question-card py-2 px-8" data-index="1" data-dimensi="energi">
  <h2 class="text-2xl font-bold text-[#F5F5F5] mt-2 mb-6">
    Ngomong-ngomong soal keseharian, buat ngerjain hal-hal biasa (kerja, kuliah, beres-beres), gimana rasanya belakangan ini?
  </h2>

  <div class="space-y-3">
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-white/10 hover:border-[#4ADE80] hover:bg-[#4ADE80]/10 transition font-medium text-[#F5F5F5]" data-score="hijau">
      Masih semangat, bisa jalan seperti biasa
      <span class="opacity-0 group-hover:opacity-100 transition transform group-hover:scale-125">
        <img src="/assets/IconFromSVGRepo/q2/green.svg" alt="Semangat" class="w-7 h-7 inline-block">
      </span>
    </button>
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-white/10 hover:border-[#FB923C] hover:bg-[#FB923C]/10 transition font-medium text-[#F5F5F5]" data-score="kuning">
      Kerasa agak berat, butuh usaha lebih dari biasanya
      <span class="opacity-0 group-hover:opacity-100 transition transform group-hover:scale-125">
        <img src="/assets/IconFromSVGRepo/q2/yellow.svg" alt="Agak Berat" class="w-7 h-7 inline-block">
      </span>
    </button>
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-white/10 hover:border-[#d10909] hover:bg-[#F87171]/10 transition font-medium text-[#F5F5F5]" data-score="merah">
      Lumayan berat, sering butuh dorongan ekstra buat mulai
      <span class="opacity-0 group-hover:opacity-100 transition transform group-hover:scale-125">
        <img src="/assets/IconFromSVGRepo/q2/red.svg" alt="Berat" class="w-7 h-7 inline-block">
      </span>
    </button>
  </div>
</div>
