<div class="question-card py-2 px-8" data-index="2" data-dimensi="tidur">
  <h2 class="text-2xl font-bold text-[#F5F5F5] mt-2 mb-6">
    Energi itu biasanya nyambung banget sama istirahat. Gimana tidurmu beberapa hari terakhir?
  </h2>

  <div class="space-y-3">
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-white/10 hover:border-[#4ADE80] hover:bg-[#4ADE80]/10 transition font-medium text-[#F5F5F5]" data-score="hijau">
      Cukup nyenyak, bangun lumayan seger
      <span class="opacity-0 group-hover:opacity-100 transition transform group-hover:scale-125">
        <img src="/assets/IconFromSVGRepo/q3/green.svg" alt="Nyenyak" class="w-7 h-7 inline-block">
      </span>
    </button>
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-white/10 hover:border-[#FB923C] hover:bg-[#FB923C]/10 transition font-medium text-[#F5F5F5]" data-score="kuning">
      Kadang susah tidur, pikiran suka masih jalan terus
      <span class="opacity-0 group-hover:opacity-100 transition transform group-hover:scale-125">
        <img src="/assets/IconFromSVGRepo/q3/yellow.svg" alt="Kadang Susah" class="w-7 h-7 inline-block">
      </span>
    </button>
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-white/10 hover:border-[#d10909] hover:bg-[#F87171]/10 transition font-medium text-[#F5F5F5]" data-score="merah">
      Lumayan sering susah tidur, jadi kerasa kurang istirahat
      <span class="opacity-0 group-hover:opacity-100 transition transform group-hover:scale-125">
        <img src="/assets/IconFromSVGRepo/q3/red.svg" alt="Susah Tidur" class="w-7 h-7 inline-block">
      </span>
    </button>
  </div>
</div>
