<div class="question-card py-2 px-8" data-index="3" data-dimensi="fisik">
  <h2 class="text-2xl font-bold text-[#F5F5F5] mt-2 mb-6">
    Selain soal tidur, tubuhmu sendiri kerasa gimana belakangan ini?
  </h2>

  <div class="space-y-3">
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-white/10 hover:border-[#4ADE80] hover:bg-[#4ADE80]/10 transition font-medium text-[#F5F5F5]" data-score="hijau">
      Enteng aja, nggak ada keluhan berarti
      <span class="opacity-0 group-hover:opacity-100 transition transform group-hover:scale-125">
        <img src="/assets/IconFromSVGRepo/q4/green.svg" alt="Enteng" class="w-7 h-7 inline-block">
      </span>
    </button>
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-white/10 hover:border-[#FB923C] hover:bg-[#FB923C]/10 transition font-medium text-[#F5F5F5]" data-score="kuning">
      Kadang pegal, tegang di bahu/rahang, atau jantung suka deg-degan sendiri
      <span class="opacity-0 group-hover:opacity-100 transition transform group-hover:scale-125">
        <img src="/assets/IconFromSVGRepo/q4/yellow.svg" alt="Pegal" class="w-7 h-7 inline-block">
      </span>
    </button>
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-white/10 hover:border-[#d10909] hover:bg-[#F87171]/10 transition font-medium text-[#F5F5F5]" data-score="merah">
      Lumayan sering pusing, sesak, atau badan lemes tanpa sebab yang jelas
      <span class="opacity-0 group-hover:opacity-100 transition transform group-hover:scale-125">
        <img src="/assets/IconFromSVGRepo/q4/red.svg" alt="Pusing" class="w-7 h-7 inline-block">
      </span>
    </button>
  </div>
</div>
