<div class="question-card py-2 px-8" data-index="5" data-dimensi="pikiran">
  <h2 class="text-2xl font-bold text-[#F5F5F5] mt-2 mb-6">
    Dari tubuh, coba geser ke isi kepala. Pas lagi sendirian, biasanya isi kepalamu kayak gimana?
  </h2>

  <div class="space-y-3">
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-white/10 hover:border-[#4ADE80] hover:bg-[#4ADE80]/10 transition font-medium text-[#F5F5F5]" data-score="hijau">
      Relatif tenang, gampang fokus ke satu hal
      <span class="opacity-0 group-hover:opacity-100 transition transform group-hover:scale-125">
        <img src="/assets/IconFromSVGRepo/q5/green.svg" alt="Tenang" class="w-7 h-7 inline-block">
      </span>
    </button>
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-white/10 hover:border-[#FB923C] hover:bg-[#FB923C]/10 transition font-medium text-[#F5F5F5]" data-score="kuning">
      Rame, suka muter-muter mikirin banyak hal sekaligus
      <span class="opacity-0 group-hover:opacity-100 transition transform group-hover:scale-125">
        <img src="/assets/IconFromSVGRepo/q5/yellow.svg" alt="Rame" class="w-7 h-7 inline-block">
      </span>
    </button>
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-white/10 hover:border-[#d10909] hover:bg-[#F87171]/10 transition font-medium text-[#F5F5F5]" data-score="merah">
      Lumayan penuh, jadi agak susah buat mikir jernih
      <span class="opacity-0 group-hover:opacity-100 transition transform group-hover:scale-125">
        <img src="/assets/IconFromSVGRepo/q5/red.svg" alt="Penuh" class="w-7 h-7 inline-block">
      </span>
    </button>
  </div>
</div>
