<div class="question-card py-2 px-8" data-index="4" data-dimensi="sosial">
  <h2 class="text-2xl font-bold text-slate-800 mt-2 mb-6">
    Gimana keinginanmu buat ketemu atau ngobrol sama orang lain belakangan ini?
  </h2>

  <div class="space-y-3">
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-slate-200 hover:bg-emerald-100 hover:border-emerald-600 transition font-medium text-slate-700" data-score="hijau">
      Masih pengen dan nyaman-nyaman aja
      <span class="opacity-0 group-hover:opacity-100">🫂</span>
    </button>
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-slate-200 hover:bg-amber-100 hover:border-amber-600 transition font-medium text-slate-700" data-score="kuning">
      Kadang males duluan, lebih milih sendirian
      <span class="opacity-0 group-hover:opacity-100">🙃</span>
    </button>
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-slate-200 hover:bg-rose-100 hover:border-rose-600 transition font-medium text-slate-700" data-score="merah">
      Udah mulai ngejauh, males banget interaksi sama orang
      <span class="opacity-0 group-hover:opacity-100">🚪</span>
    </button>
  </div>
</div>