<div class="question-card py-2 px-8" data-index="5" data-dimensi="fisik">
  <h2 class="text-2xl font-bold text-[#F5F5F5] mt-2 mb-6">
    Tubuhmu kerasa gimana belakangan ini?
  </h2>

  <div class="space-y-3">
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-white/10 hover:border-[#4ADE80] hover:bg-[#4ADE80]/10 transition font-medium text-[#F5F5F5]" data-score="hijau">
      Enteng aja, nggak ada keluhan berarti
      <span class="opacity-0 group-hover:opacity-100" onmouseover="this.style.transform='scale(1.30)'" onmouseout="this.style.transform='scale(1)'">🙆</span>
    </button>
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-white/10 hover:border-[#FB923C] hover:bg-[#FB923C]/10 transition font-medium text-[#F5F5F5]" data-score="kuning">
      Suka pegal, tegang di bahu/rahang, atau jantung berdebar tanpa sebab jelas
      <span class="opacity-0 group-hover:opacity-100" onmouseover="this.style.transform='scale(1.30)'" onmouseout="this.style.transform='scale(1)'">😣</span>
    </button>
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-white/10 hover:border-[#F87171] hover:bg-[#F87171]/10 transition font-medium text-[#F5F5F5]" data-score="merah">
      Sering banget pusing, sesak, atau badan lemes tanpa sebab fisik
      <span class="opacity-0 group-hover:opacity-100" onmouseover="this.style.transform='scale(1.30)'" onmouseout="this.style.transform='scale(1)'">🤕</span>
    </button>
  </div>
</div>
