<div class="question-card py-2 px-8" data-index="7" data-dimensi="emosi">
  <h2 class="text-2xl font-bold text-[#F5F5F5] mt-2 mb-6">
    Ngomongin soal pikiran, gimana perasaanmu? Suka naik-turun drastis atau relatif stabil?
  </h2>

  <div class="space-y-3">
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-white/10 hover:border-[#4ADE80] hover:bg-[#4ADE80]/10 transition font-medium text-[#F5F5F5]" data-score="hijau">
      Relatif stabil, nggak naik-turun drastis
      <span class="opacity-0 group-hover:opacity-100 transition transform group-hover:scale-125">
        <img src="/assets/IconFromSVGRepo/q7/green.svg" alt="Stabil" class="w-7 h-7 inline-block">
      </span>
    </button>
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-white/10 hover:border-[#FB923C] hover:bg-[#FB923C]/10 transition font-medium text-[#F5F5F5]" data-score="kuning">
      Kadang gampang tersulut atau gampang sedih dari biasanya
      <span class="opacity-0 group-hover:opacity-100 transition transform group-hover:scale-125">
        <img src="/assets/IconFromSVGRepo/q7/yellow.svg" alt="Sensitif" class="w-7 h-7 inline-block">
      </span>
    </button>
    <button class="option-btn group flex place-content-between hover:scale-105 w-full text-left p-3 rounded-lg border border-white/10 hover:border-[#d10909] hover:bg-[#F87171]/10 transition font-medium text-[#F5F5F5]" data-score="merah">
      Lumayan naik-turun, kadang gampang banget marah, sedih, atau nangis
      <span class="opacity-0 group-hover:opacity-100 transition transform group-hover:scale-125">
        <img src="/assets/IconFromSVGRepo/q7/red.svg" alt="Naik Turun" class="w-7 h-7 inline-block">
      </span>
    </button>
  </div>
</div>
